.header{
  height: 130px;
}
.headerTopBar-max {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  max-width: 100%;
}


.headerTopBar-min {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 75px;
  max-width: 100%;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 1px 10px white; 
  transition: all 0.5s ease-in-out;

}
.headerTopBar-max > p {
  position: fixed;
  top:30px;
  margin: 0 33%; 
  text-align: center;
  font-size: 2.5rem;
  color: black;
  transition: all 0.5s ease-out;
}

.headerTopBar-min > p {
  transition: all 0.5s ease-out ;
  position: fixed;
  top:5px;
  margin: 20px 33%; 
  text-align: center;
  font-size: 1.3rem;
  color:black;
}